<section class="container">
	<div class="login">
	  <h1>Identificació</h1>
	  
	  <form method="POST" action="/login">
	    <input type="hidden" name="usuari" value="garita">
	    <p><input type="password" name="password" value="" placeholder="Password"></p>
	    <p class="submit"><input type="submit" name="commit" value="Login"></p>
	  </form>

	</div>
</section>
